@model Systembankunipim.Data.TbInvestimento

@{
    ViewData["Title"] = "Remover Investimento";
}

<h1> @ViewData["Title"]</h1>

<h3>Tem certeza que deseja deletar ?</h3>
<div>
    <h4>Investimentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarteiraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarteiraNavigation.IdCarteira)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoInvestimentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoInvestimentoNavigation.DescricaoInvestimento)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdInvestimento" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Voltar a lista</a>
    </form>
</div>
