@model IEnumerable<Systembankunipim.Data.TbInvestimento>

@{
    ViewData["Title"] = "Investimentos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar Investimento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCarteiraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoInvestimentoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarteiraNavigation.IdCarteira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoInvestimentoNavigation.DescricaoInvestimento)
            </td>
           
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdInvestimento">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdInvestimento">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdInvestimento">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
