@model IEnumerable<Systembankunipim.Data.TbCarteira>

@{
    ViewData["Title"] = "Carteiras";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaldoCarteira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoDeposito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoSaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUltimaTransacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaldoCarteira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoDeposito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoSaque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUltimaTransacao)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdCarteira">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdCarteira">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCarteira">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
