@model Systembankunipim.Data.TbTransacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbTransacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTransacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTransacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarteiraDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarteiraDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgenciaDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgenciaDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarteiraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarteiraNavigation.IdCarteira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoTransacaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoTransacaoNavigation.DescricaoTransacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTransacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
